/* You can add global styles to this file, and also import other style files */
body,
html {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 14px;
    color: white;
    margin: 0px;
}

i {
    color: rgb(70, 70, 70);
    font-size: 14px;
}

.container-main {
    width: 100%;
}

.selector {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
