/* You can add global styles to this file, and also import other style files */
body,
html {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

label {
    margin: 0;
}

p {
    font-size: 14px;
    color: white;
    margin: 0px;
}

i {
    color: rgb(70, 70, 70);
    font-size: 14px;
}

.container-main {
    width: 100%;
}

.selector {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.btn-primary-app {
    padding: 5px 20px !important;
    background: linear-gradient(90deg, #89c045, #659d22) !important;
    border: none !important;
}

.btn-primary-outline-app {
    padding: 5px 20px !important;
    border: 1px solid #659d22;
    color: #89c045;
}

.btn-primary-outline-app:hover {
    background-color: #89c045 !important;
    color: white;
    border: 1px solid #659d22;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
