<div class="table-responsive-md w-100 d-block d-md-table">
  <table class="table">
    <thead>
      <tr>
        <th class="title" scope="col">Nombre</th>
        <th class="title" scope="col">Apellidos</th>
        <th class="title" scope="col">Identificación</th>
        <th class="title" scope="col">Rol asociado</th>
        <th class="title" scope="col">Estado</th>
        <th class="title" scope="col">Teléfono</th>
        <th class="title" scope="col">Correo electrónico</th>
        <th class="title" scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="info">Camilo Hernnado</td>
        <td class="info">Dvila Bonilla</td>
        <td class="info">1049643462</td>
        <td class="info">Administrador</td>
        <td class="info">Activo</td>
        <td class="info">3214314628</td>
        <td class="info">camilo7davila@gmail.com</td>
        <td class="info">Acciones</td>
      </tr>

      <tr>
        <td class="info">Camilo Hernnado</td>
        <td class="info">Dvila Bonilla</td>
        <td class="info">1049643462</td>
        <td class="info">Administrador</td>
        <td class="info">Activo</td>
        <td class="info">3214314628</td>
        <td class="info">camilo7davila@gmail.com</td>
        <td class="info">Acciones</td>
      </tr>
    </tbody>
  </table>
</div>