<div class="table-responsive-md w-100 d-block d-md-table">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Identificación</th>
        <th scope="col">Rol asociado</th>
        <th scope="col">Estado</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Correo electrónico</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Camilo Hernnado</td>
        <td>Dvila Bonilla</td>
        <td>1049643462</td>
        <td>Administrador</td>
        <td>Activo</td>
        <td>3214314628</td>
        <td>camilo7davila@gmail.com</td>
        <td>Acciones</td>
      </tr>
    </tbody>
  </table>
</div>