.title {
    font-size: 14px;
    font-weight: bold;
}

.info {
    font-size: 12px;
    font-weight: lighter;
    color: gray;
}

.container-actions {
    display: flex;
    justify-content: space-evenly;
}