<div class="table-responsive-md w-100 d-block d-md-table">
  <table class="table">
    <thead>
      <tr>
        <th class="title" scope="col">Nombre</th>
        <th class="title" scope="col">Apellidos</th>
        <th class="title" scope="col">Identificación</th>
        <th class="title" scope="col">Rol asociado</th>
        <th class="title" scope="col">Estado</th>
        <th class="title" scope="col">Teléfono</th>
        <th class="title" scope="col">Correo electrónico</th>
        <th class="title" scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients | filterClients: search">
        <td class="info">{{client.name | titlecase}}</td>
        <td class="info">{{client.lastName |titlecase}}</td>
        <td class="info">{{client.document}}</td>
        <td class="info">{{client.rol}}</td>
        <td class="info">{{client.state ? 'Activo' : 'Inactivo'}}</td>
        <td class="info">{{client.phone}}</td>
        <td class="info">{{client.email}}</td>
        <td class="info container-actions">
          <div 
            class="selector" 
            (click)="editClient(client)"
          >
            <i class="fas fa-pen" style="color: #2343ad;"></i>
          </div>
          <div 
            class="selector" 
            (click)="deleteClient(client._id)"
          >
            <i class="fas fa-trash"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>